<div>
    <h1>Witaj <% name %>,</h1>
    <p>
        Jesteśmy szczęśliwi poinformować Cię, że Twoja aplikacja została zaakceptowana. I od teraz jesteś pełnoprawnym
        członkiem
        Stowarzyszenia Polish Leather Uniform Group. Wkrótce otrzymasz informacje , które pozwolą
        ci zalogować się do 'Strefy Członka' dostępnej za pośrednictwem naszej strony internetowej.
    </p>
    <p>
        Pozdrawiamy,
        <br>
        Zarząd Stowarzyszenia Polish Leather Uniform Group
    </p>

</div>